.chat-container {
  display: flex; 
  height: 85vh;
  background: $bg-chat;
  overflow:hidden;
  width: 80%;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.40);

    .side-nav {
        flex: 25%;
        max-width: 300px;
        z-index: 1;
        background: transparent;
        /* box-shadow: 8px 5px 20px grey; */
        overflow: auto;
        border-right: 1px solid #fff;
        // padding: 0 30px 0 0;
        display: flex;

        .side-bar {
            display: flex;
            flex-direction: column;
            padding: 10px;
            z-index: 1;
            box-shadow: 2px 0px 18px -1px #9c9c9c;
            
            div {
                display: flex;
                flex-direction: column;
                margin-bottom: 5px;

                i {
                    margin: 10px 0 3px;
                    color: $text-color2;
                    background-color: $bg-color3;
                    padding: 10px;
                    border-radius: 4px;
                    cursor: pointer;

                    &.active {
                        background-image: $bg-gradient1;
                        color: $text-color3;
                    }
                }

                p {
                    margin: 0;
                    font-size: 10px;
                }
            }
            
        }

        .side-nav-content {
            flex: 1;
            background-color: $bg-color4;
            padding: 0 15px;

            .rooms {
                display: flex;
                flex-direction: column;
                justify-content: stretch;

                .room {
                    border-bottom: 1px solid lightgray;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h3 {
                        margin: 10px 0;
                        color: $text-color2;
                        font-weight: 500;
                        text-align: left;
                    }

                    .fa-door-open {
                        cursor: pointer;
                    }

                    i {
                        color: $text-color2;
                    }
                }

            }


            .create-room {
                display: flex;
                height: 35px;
                align-items: center;
                justify-content: center;
                margin: 20px 0;
                
                    button {
                    background: transparent;
                    outline: none;
                    border: none;
                    color: $text-color3;
                    padding: 0;
                    font-size: 36px;
                    position: relative;
                    cursor: pointer;
                    align-self: stretch;
                    display: flex;
                }

                input {
                    border: none;
                    outline: none;
                    width: 100%;
                    border-radius: 4px;
                }
            }

            .participants, .allParticipants {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 40px;

                h2 {
                    font-size: 22px;
                }

                .participant {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid lightgray;

                    h3 {
                        margin: 10px 0;
                        color: $text-color2;
                        font-weight: 500;
                    }

                    i {
                        cursor: pointer;
                        color: $text-color2;
                    }
                }

                
            }

            .allParticipants {
                margin-top: 0;
            }
        }

        
    }

    .chat {
        flex: 1;
        height: 100%;
        padding: 0 20px;

        h2 {
            height: 10%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .chatArea {
            display: flex;
            text-align: center;

            flex-direction: column;
            height: 90%;

            .chatWindow {
                flex: 9;
                overflow-y: scroll;
                -ms-overflow-style: none; /* for Internet Explorer, Edge */
                scrollbar-width: none; /* for Firefox */
                padding: 0px 30px;

                .message {
                    display: flex;
                    justify-content: flex-end;

                    h2 {
                        margin: 10px 0 35px;
                    }
                }

                .my-message {
                    display: flex;
                    justify-content: flex-start;

                }

                .message, .my-message {

                    .message-content {
                        position: relative;

                        .message-favorite {
                            position: absolute;
                            top: -20px;
                            right: -20px;

                            i {
                                font-size: 20px;
                                cursor: pointer;
                                color: $text-color2;
                            }
                        }

                        img {
                            width: 8vw;
                            height: 8vw;
                        }

                        h2 {
                            margin: 10px 0 35px;
                            font-size: 18px;
                        }
                    }
                }

                .notification h4 {
                    color: $text-color1;
                    text-align: center;
                    justify-content: center;
                    margin-top:0;
                }

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            

            .search-gifs {
                display: flex;
                align-items: stretch;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 15px;
                flex: 1;

                .search {
                    display: flex;
                    align-items: center;

                    label {
                        position: relative;
                        flex: 1;

                        input {
                            border:none;
                            box-shadow: 0px 0px 10px 0px rgba(217,217,217,1);
                            border-radius: 4px;
                            width: 100%;
                            height: 100%;
                        }

                        i {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            color: $text-color2;
                            cursor: pointer;
                        }
                    }

                    button {
                        // width: 10%;
                        flex: min-content;
                        margin-left: 20px;
                        background-image: $bg-gradient1;
                        color: $text-color3;
                        height: 100%;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                    
                }

                .gifTown {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    margin-top: 10px;
                    border: 1px solid lightgray;
                    padding: 10px 0;
                    border-radius: 4px;

                    .gif-prev {
                        width: 6vw;
                        height: 6vw;
                        margin: 0 7px;

                        img {
                            cursor: pointer;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            
        }
    }

     .searcher {
        flex: 25%;
        justify-content: center;
        z-index: 1;
        /* box-shadow: -8px 5px 20px grey; */
        background-color: transparent;
        overflow: auto;
        border-left: 1px solid #fff;
        padding: 0 15px;

        button {
            background: transparent;
            border: 1px solid #fff;
            outline: none;
            color: $text-color3;
            font-size: 16px;
            border-radius: 2px;
            cursor: pointer;
            transition: all .2s;
            padding: 5px 7px;

            &:hover {
                background: $text-color3;
                color: slategray;
            }
        }

        .search-side {
            justify-content: center;
            padding-top: 5px;
            margin-bottom: 50px;
        }

        
    }

    .profile {
        flex: 1;
        max-width: 0;
        height: 100%;
        background-image: $bg-gradient1;
        padding: 0;
        backface-visibility: hidden;
        position: relative;
        // display: none;
        transition: max-width .2s, padding .2s;

        .profile-close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;

            i {
                color: $text-color2;
                font-size: 25px;
            }

            &.active {

                i {
                    color: $text-color3;
                }
            }
        }

        h2, h3 {
            color: $text-color3;
        }

        .profile-info {
            color: $text-color3;
        }

        .profile-favorites {
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            margin: 30px 0;
            padding: 20px 0;
            display: none;

            h3 {
                margin: 0;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                overflow-y: scroll;
                max-height: 30vh;
                padding-top: 20px;

                li {
                    flex: 45%;
                    max-width: 45%;
                    padding: 5px;
                    position: relative;

                    img {
                        width: 5vw;
                        height: 5vw;
                        cursor: pointer;
                    }

                    .profile-favorite {
                            position: absolute;
                            top: -10px;
                            right: 8px;

                            i {
                                font-size: 16px;
                                cursor: pointer;
                                color: $text-color3;
                            }
                        }
                }

                p {
                    color: $text-color3;
                    text-align: center;
                    width: 100%;
                }

                 &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        .profile-friends {
            color: $text-color3;
            display: none;
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                li {
                    flex: 45%;
                    padding: 5px;
                }
            }
        }

        &.open {
            max-width: 240px;
            padding: 0 15px;
            // display: block;
            // transform: translateX(0);
            // height: unset;

            .profile-favorites, .profile-friends {
                display: block;
            }
        }
    }
}