$bg-color1: #0E297A;
$bg-color2: #21134E;
$bg-color3: #e4f1fc;
$bg-color4: #ecf6ff;
$bg-gradient1: linear-gradient(to right bottom, $bg-color1, $bg-color2);

$bg-chat: #fff;
$text-color1: #63677A;
$text-color2: #162371;
$text-color3: #fff;


//tropical theme

$bg-tropical1:rgb(0, 223, 167);
$bg-tropical2:#54D8A8;
$bg-tropical3: rgb(255, 172, 223);
$bg-tropical4: rgb(248, 144, 165);
$bg-tropient1: linear-gradient(to right bottom, $bg-color1, $bg-color2);


$bg-chat: rgb(255, 238, 248);
$text-color1: #63677A;
$text-color2: #162371;
$text-color3: #fff;