$bg-color1: #0E297A;
$bg-color2: #21134E;
$bg-color3: #e4f1fc;
$bg-color4: #ecf6ff;
$bg-gradient1: linear-gradient(to right bottom, $bg-color1, $bg-color2);

$bg-chat: #fff;
$text-color1: #63677A;
$text-color2: #162371;
$text-color3: #fff;